@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;900&display=swap");

:root {
  --light-blue: #59adff;
  --dark-blue: #4082fa;
  --white: #fff;
  --green: #42b72a;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 0.625rem;
  position: relative;
  left: 5%;
  gap: 1.875rem;
}

.create-post {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.title {
  font-weight: 600;
}

.create-post h3 {
  font-weight: 400;
  font-size: 0.875rem;
}

.create-post textarea {
  width: 80%;
  height: 10vh;
}

.create-post input[type="submit"] {
  width: max-content;
  font-size: 1rem;
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 0.25rem;
  padding: 0.375rem;
  color: var(--white);
}

.create-post input[type="submit"]:hover {
  cursor: pointer;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.post {
  margin-bottom: 0.625rem;
  width: 100%;
}

.post h3 {
  font-weight: 600;
  padding-left: 0.375rem;
  margin-bottom: 0.25rem;
}

.post h3 a {
  color: var(--black);
  text-decoration: none;
}

.post h3 a:hover {
  text-decoration: underline;
  text-decoration-color: var(--light-blue);
}

.post p {
  color: #eaeaea;
  color: var(--black);
  padding-left: 0.375rem;
  margin-bottom: 0.625rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 4px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
