{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}
{% block content %}
  {% if get_flashed_messages() %}
    {% for error in get_flashed_messages() %}
      <p class="error">{{ error }}</p>
    {% endfor %}
  {% endif %}
  <div class="main-container">
    <form method="post" class="create-post" action="{{ url_for('posts.create_post') }}">
      <h1 class="title">Hi {{ g.user.username }}</h1>
      <h3>Whats on your mind?</h3>
      <textarea name="body" required></textarea>
      <input type="submit" value="Post">
    </form>
    <div class="posts">
      {% for post in posts %}
        <div class="post">
          <div class="user">
            <img src="{{ url_for('static', filename=post.profile_pic) }}" alt="profile-pic">
            <h3><a href="{{ url_for('user_bp.profile', username=post['username']) }}">{{ post["username"] }}</a></h3>
          </div>
          <p>{{ post["body"] }}</p>
          <div class="info">
            <p>{{ post["prettyCreated"] }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
